<h3>Buttons with Icons</h3>
<div class="card mb-4">
    <div class="card-body">
        <div>
            <button app-button label="Primary" iconLeft="add_circle" class="mr-4 mb-4" size="large"></button>
            <button app-button label="Secondary" rank="secondary" iconLeft="add_circle" class="mr-4 mb-4" size="large"></button>
        </div>
        <div>
            <button app-button label="Primary" iconLeft="add_circle" class="mr-4 mb-4"></button>
            <button app-button label="Secondary" rank="secondary" iconLeft="add_circle" class="mr-4 mb-4"></button>
        </div>
        <div>
            <button app-button label="Primary" iconLeft="add_circle" class="mr-4 mb-4" size="small"></button>
            <button app-button label="Secondary" rank="secondary" iconLeft="add_circle" class="mr-4 mb-4" size="small"></button>
        </div>
        <div class="bg-dark p-4 text-light">
            Sample code here
        </div>
    </div>
</div>