<h3>Basic Button Examples</h3>
<p>Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
<div class="card">
    <div class="card-body">
        <button
          app-button
          label="Primary"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          label="Secondary"
          rank="secondary"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          label="Success"
          rank="success"
          class="mr-4 mb-4">
        </button>
        <div class="bg-dark p-2 text-light">
            Sample code here
        </div>
    </div>
</div>