<div class="container-xl">
  <h1>Style Guide</h1>
  <h2>Buttons</h2>
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex flex-nowrap">
        <button
          app-button
          buttonLabel="Primary"
          class="ml-sm-4 mb-4 order-3"
          [buttonResponsive]="true">
        </button>
        <button
          app-button rank="secondary"
          buttonLabel="Secondary"
          class="ml-sm-4 mb-4 order-2"
          [buttonResponsive]="true">
        </button>
        <button
          app-button
          rank="link"
          buttonLabel="Link"
          class="mr-auto mb-4 order-1"
          [buttonResponsive]="true">
        </button>
      </div>
      <div class="bg-dark text-light p-4">
        <p>Test</p>
      </div>
    </div>
  </div>