<div class="container-xl">
  <h1>Style Guide</h1>
  <h2>Buttons</h2>
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex flex-nowrap">
        <app-button
          buttonLabel="Primary"
          addClass="ml-sm-4 mb-4 order-3"
          [buttonResponsive]="true">
        </app-button>
        <app-button
          buttonLabel="Secondary"
          addClass="ml-sm-4 mb-4 order-2"
          rank="secondary"
          [textNoWrap]="true"
          [buttonResponsive]="true">
        </app-button>
        <app-button
          buttonLabel="Link"
          addClass="ml-sm-4 mb-4 order-1"
          rank="link"
          [textNoWrap]="true"
          [buttonResponsive]="true">
      </app-button>
      </div>
      <div class="d-sm-flex flex-nowrap">
        <button type="button" class="btn btn-primary ml-sm-4 mb-4 btn-sm-block order-3">Primary</button>
        <button type="button" class="btn btn-secondary ml-sm-4 mb-4 btn-sm-block order-2">Secondary</button>
        <button type="button" class="btn btn-link mr-auto mb-4 btn-sm-block order-1">Link</button>
      </div>
      <div class="bg-dark text-light p-4">
        <p>Test</p>
      </div>
    </div>
  </div>