<h3>Outline buttons</h3>
<p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the
    .btn-outline-* ones to remove all background images and colors on any button.</p>
<div class="card mb-4">
    <div class="card-body">
        <button
          app-button
          label="Primary"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="secondary"
          label="Secondary"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="success"
          label="Success"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="danger"
          label="Danger"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="warning"
          label="Warning"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="info"
          label="Info"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="light"
          label="Light"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <button
          app-button
          rank="dark"
          label="Dark"
          [outline]="true"
          class="mr-4 mb-4">
        </button>
        <div class="bg-dark p-4 text-light">
            Sample code here
        </div>
    </div>
</div>