<h3>Sizes</h3>
<p>Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes.</p>
<div class="card mb-4">
    <div class="card-body">
        <button
          app-button
          label="Large Button"
          class="mr-4 mb-4"
          size="large">
        </button>
        <button
          app-button
          label="Small Button"
          class="mr-4 mb-4"
          size="small">
        </button>
        <div class="bg-dark p-4 text-light">
            Sample code here
        </div>
    </div>
</div>